body {
    background-color: black;
    color: white;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}


button {
    background-color: rgb(255, 99, 99);
    color: white;
     font-family: "Roboto Mono", monospace;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;

}

a {
display: flex;
    justify-content: center;
    align-items: center;
}